body {
    text-align: center;
}

h2 {
    margin: 0;
}
.text-container {

height: 170px;
}

.error-msg {
    color: brown;
}

button {
    margin: 5px auto;
    background-color: white;

    font-size: 20px;
  /* background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%); */
  cursor:pointer;
  border: 2px solid black;
  border-radius: 11px;
}

.new-line {
    background-color: rgb(113, 191, 69);
}
.new-song {
    background-color: rgb(254, 242, 0);
}
.show-answer {
    background-color: rgb(140, 216, 248);
}

button:hover {
    background-image: linear-gradient(-20deg, darken(#fc6076,10%) 0%, darken(#ff9a44,10%) 100%);
}

button:active {
    position:relative;
    top:1px;
}

button:focus {
    outline:0;
}