@font-face {
    font-family: 'Nunito Regular';
    src: url('fonts/Nunito-Regular') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Bold';
    src: url('fonts/Nunito-Bold') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {

    text-align: center;
}

h2 {
    margin: 0;
}
.text-container {

height: 170px;
}

.error-msg {
    color: brown;
}

button {
    font-family: 'Lato Bold', Verdana, sans-serif;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin: 15px auto;
    background-color: white;
    font-size: 24px;
    cursor:pointer;
    border: 2px solid black;
    border-radius: 11px;
}
.es-icon {
    padding: 0 5px;
    font-size: 30px;
}

.new-line {
    background-color: rgb(113, 191, 69);
}
.new-song {
    background-color: rgb(254, 242, 0);
}
.show-answer {
    background-color: rgb(140, 216, 248);
}

button:hover {
    background-image: linear-gradient(-20deg, darken(#fc6076,10%) 0%, darken(#ff9a44,10%) 100%);
}

button:active {
    position:relative;
    top:1px;
}

button:focus {
    outline:0;
}